<!doctype html>
<html>

  <head>
      <title>Миэль</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
      <%- include modules/header.ejs %>
      <main>
          <div class="home-slider">
            <ul class="slides">
              <li>
                <img src="./assets/img/slide1.png">
              </li>
              <li>
                <img src="./assets/img/slide1.png">
              </li>
              <li>
                <img src="./assets/img/slide1.png">
              </li>
            </ul>
          </div>
          <section class="offers">
              <div class="container">
                  <h3 class="section-title">
                      Суперпредложения, скидки, акции
                  </h3>
                  <div class="offers-item">
                      <h4 class="offers-item-title">Производство аренда</h4>
                      <img src="/src/assets/img/offer-img-1.jpg" alt="" class="offers-photo">
                      <div class="offers-item-footer">
                          <p class="offers-item-text">Московская обл, Балашиха г Железнодорожный</p>
                          <p class="offers-item-price">80 000 руб.</p>
                      </div>
                  </div>
                  <div class="offers-item">
                      <h4 class="offers-item-title">Здание аренда</h4>
                      <img src="/src/assets/img/offer-img-2.jpg" alt="" class="offers-photo">
                      <div class="offers-item-footer">
                          <p class="offers-item-text">Московская обл, Балашиха г, Саввино мкр, Саввинская ...</p>
                          <p class="offers-item-price">70 000 руб.</p>
                      </div>
                  </div>
              </div>
          </section>
          <section class="hits">
              <div class="container">
                  <h3 class="section-title">
                      Хиты новостроек
                  </h3>
                  <div class="hits-block">
                      <div class="hits-block-head">
                          <span class="head-icon"><i class="fas fa-caret-right"></i></span>
                          <h4 class="head-title">Квартал Европа</h4>
                      </div>
                      <div class="hits-block-photo">
                          <img src="/src/assets/img/heat-img.jpg" alt="">
                          <div class="hits-block-more"><span>
                              Подробнее
                          </span></div>
                      </div>
                      <div class="hits-block-footer">
                          <p>ЖК Саввино корпус 2</p>
                          <p>Квартал "Центральный" 31-1</p>
                          <p>Гармония</p>
                      </div>
                  </div>
                  <button class="hits-all">
                      все новостройки
                  </button>
              </div>
          </section>
          <section class="news">
              <div class="container">
                  <h3 class="section-title">
                      Новости офиса
                  </h3>
                  <div class="news-item">
                      <h5 class="news-item-title">27 марта 2018 г.</h5>
                      <p>Чаще всего маленькие квартиры, площадью до 25 кв. метров, встречаются в комфорт-классе. Их доля составляет почти 2% от общего объема предложения в данном сегменте (без учета апа...</p>
                      <a href="#">Подробнее</a>
                  </div>
                  <div class="news-item news-item_no-border">
                      <h5 class="news-item-title">27 марта 2018 г.</h5>
                      <p>Чаще всего маленькие квартиры, площадью до 25 кв. метров, встречаются в комфорт-классе. Их доля составляет почти 2% от общего объема предложения в данном сегменте (без учета апа...</p>
                      <a href="#">Подробнее</a>
                  </div>
                  <button class="hits-all">
                      все новости офиса
                  </button>
                  <a href="#" class="news-link">Все новости офиса</a>
                  <a href="#" class="news-link">Аналитика</a>
              </div>
          </section>
          <section class="reviews">
              <div class="container">
                  <h3 class="section-title">
                      Видеоотзывы
                  </h3>
                  <div class="reviews-item">
                      <div class="reviews-item-video">
                          <iframe width="100%" height="200" src="https://www.youtube.com/embed/SYBc_il6Jxc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                      </div>
                      <div class="reviews-item-text">
                          <p>Юлия заикина</p>
                          <p>20 февраля 2018 г. 12:20</p>
                      </div>
                  </div>
                  <div class="reviews-item">
                      <div class="reviews-item-video">
                          <iframe width="100%" height="200" src="https://www.youtube.com/embed/SYBc_il6Jxc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                      </div>
                      <div class="reviews-item-text">
                          <p>Владимир и Елена</p>
                          <p>20 февраля 2018 г. 12:13</p>
                      </div>
                  </div>
                  <div class="reviews-buttons">
                      <button class="reviews-buttons-item">все отзывы</button>
                      <button class="reviews-buttons-item">все видеоотзывы</button>
                  </div>
              </div>
          </section>
          <section class="principal">
              <div class="container">
                  <h3 class="section-title">
                      Обращение руководителя
                  </h3>
                  <h4 class="principal-title">
                      Рада приветствовать Вас на официальном сайте &laquo;МИЭЛЬ&raquo;, Офис «В Железнодорожном»!
                  </h4>
                  <p class="principal-quote">
                      Поздравляю с правильным выбором! Обращаясь к нам, Вы обращаетесь в единственное крупное сетевое агентство города с 25-летним опытом профессиональной деятельности.
                  </p>
                  <p class="principal-quote">
                      Каждый из наших специалистов обладает не менее, чем шестилетним, успешным опытом работы в недвижимости Московского региона. Еще, все мы имеем специализацию именно по г. Железнодорожный, большинство наших экспертов — жители города. Наши дети ходят в детские сады, школы, спортивные секции Железнодорожного, наши родители работали или работают среди Вас. Мы знаем свой город, знаем его историю, в том числе — историю застройки и заселения. Спросите нас о старых и новых районах, и мы в деталях расскажем, какова инфраструктурная и социальная ситуация в каждом из них. Поможем выбрать надежного Застройщика новых квартир в строящихся домах и микрорайонах. Выгодно продать или обменять Вашу квартиру.
                  </p>
                  <p class="principal-quote">
                      Сложить все составляющие в единственное верное решение — вот главное преимущество наших специалистов. Каждый наш клиент может рассчитывать на высокий уровень обслуживания, оправдывающий самые смелые ожидания.
                  </p>
                  <p class="principal-quote">
                      Мы всегда рады видеть в нашем офисе всех старых друзей и новых клиентов. Для исполнения Ваших желаний у нас собрана отличная команда: агентов, экспертов, юристов, руководителей. А я, в свою очередь, гарантирую высокое качество услуг, юридическую чистоту сделок, индивидуальный подход при решении любых, самых сложных задач. Мы всегда готовы к искреннему, честному и плодотворному сотрудничеству.
                  </p>
                  <div class="principal-info">
                      <img src="/src/assets/img/principial.jpg" alt="" class="principal-info-photo">
                      <div class="principal-info-content">
                          <h5>Бутыркина Елена Борисовна</h5>
                          <p>Генеральный директор</p>
                          <button class="principal-btn">Написать</button>
                      </div>
                  </div>
              </div>
          </section>
          <section class="questions">
              <div class="container">
                  <h3 class="section-title questions-title">
                      Возникли вопросы?
                  </h3>
                  <p class="questions-text">Отправьте нам заявку! <br>Мы свяжемся с Вами и ответим на все интересующие Вас вопросы</p>
                  <p class="questions-text">А также Вы можете отправить запрос на подбор или бесплатную оценку стоимости квартиры.</p>
                  <button class="principal-btn">заявка в офис</button>
              </div>
          </section>
      </main>
      <%- include modules/footer.ejs %>
  </body>

</html>
