.breadcrums {
    margin-bottom: 20px;
    &__elem {
        display: inline-block;
        padding: 0px 5px 0 0;
        border-right: 1px solid #a3a3a3;
        color: #a3a3a3;
        
        &:last-child {
            color: $purple;
            border-right: 0px;
            
            .breadcrums__link {
                color: $purple;
            }
        }
    }

    &__link {
        color: #a3a3a3;
    }
}