$col_black: #000;
$col_white: #fff;
$col_pink: #96004f;
$col_green: #36b146;
$col_gray: #c4c5c7;
$col_orange: #e44940;

$desktop_min: 1200px;
$tablet_max: 992px;
$tablet_min: 768px;
$mobile_min: 320px;


$gray: #f6f6f6;
$purple: #95014f;
$green: #37b146;